pipeline/2 Hydration File Movement.json
{
	"name": "2 Hydration File Movement",
	"properties": {
		"activities": [
			{
				"name": "1 Hydration File From Sharepoint to Cloud Blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_hydrationFileFromSharePoint",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('HydrationFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_hydrationFileInhydrationfileContainer",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('HydrationFileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "2 hydration File From Blob to cloudDB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "1 Hydration File From Sharepoint to Cloud Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "truncate table [onCloudPrj].[tablelist];",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_hydrationFileInhydrationfileContainer",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('HydrationFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_onCloudDbTableListFromBlobHydrationFile",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"HydrationFileName": {
				"type": "String",
				"defaultValue": "Hydration File"
			}
		},
		"folder": {
			"name": "reportingProject_pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-22T11:00:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}