pipeline/5_ADF Logs.json
{
	"name": "5_ADF Logs",
	"properties": {
		"activities": [
			{
				"name": "Starting Logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspADFStartLogs]",
						"storedProcedureParameters": {
							"p_ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_RunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_onPremsDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Logs Success Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[uspADFEndLogs]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('Starting Logs').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_status": {
							"value": {
								"value": "@variables('V_Status_Success')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onPrems_sqlserver",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End Logs Fail Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[uspADFEndLogs]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": {
								"value": "@activity('Script1').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('Starting Logs').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_status": {
							"value": {
								"value": "@variables('V_Status_Fail')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onPrems_sqlserver",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Starting Logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_onPrems_sqlserver",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select id1 from ADFLogs;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"V_Status_Success": {
				"type": "String",
				"defaultValue": "Success"
			},
			"V_Status_Fail": {
				"type": "String",
				"defaultValue": "Fail"
			}
		},
		"folder": {
			"name": "EFN Important Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-07T17:00:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}